# Node modules
node_modules/
./node_modules/

# Environment files
.env
env

# System files
.DS_Store

# Lock files
package-lock.json
yarn-error.log
npm-debug.log

# Build outputs
dist/
build/
coverage/

# IDE & Editor folders
.vscode/
.idea/

# Logs & temp
*.log
*.tmp
*.temp

